/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    width: 100%;
    position: relative;
    background-color: #F5F5F5;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
}


.container {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    max-width: 1400px;
}

#main {
    height: 100vh;
    position: relative;
}

a:hover {
    text-decoration: none;
}


i {
    float: left;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    }
    #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
    }
    @-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
    @keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
}

.small-search {
    display: none;
}


#search-row {
    margin-top: 10px;
}

#dropdown-header, #search-employee-btn {
    width: 200px;
}

#dropdown-btn {
    width: 100%;
}

.dropdown-menu {
    padding: .2rem .2rem;
    background-color: rgb(54, 142, 54);
    color: white;
    border: 2px solid #358260;
}

.dropdown-menu a {
    color: white;
}

#add-employee-list {
    border-bottom: 2px solid white;
}

#refresh {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(102%);
    transform: rotate(0);
    transition: transform .4s ease;
    pointer-events: none;
}

#advanced-search {
    display: none;
}

/*--------------------------------------------------------------
# TABS
--------------------------------------------------------------*/

#myTab {
    width: 100%;
    margin-top: 4px;
    padding: 0 1em;
    position: relative;
}

#myTabContent {
    width: 100%;
}

#add {
    position: absolute;
    right: 1em;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Alerts
--------------------------------------------------------------*/

.alert {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    pointer-events: none;
}

#alert-error, #alert-success, #alert-success-edit, #dept-error, #dept-success, #location-error, #location-success, #alert-success-edit-dept, #alert-success-edit-location {
    opacity: 0;
    transition: opacity .5s ease;
}

.action-padding {
    padding-right: 1.8rem !important;
}

.btn {
    line-height: unset;
}


.btn, a {
    pointer-events: initial;
}

.btn-icon {
    width: 1rem;
    height: 1rem;    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(102%);
}

.modal-title i {
    float: none;
}



a .btn-danger {
    margin-left: 10px;
}

.hint-text {
    color: #566787;
}

#show-all {
    display: inline-flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#show-all:active #refresh {
    transform: rotate(180);
}


.table-fixed {
    width: 100%;
    background-color: white;
    margin-bottom: 5em;
}

.table-fixed tbody{
    height:72vh;
    overflow-y:auto;
    width: 100%;
    padding: 0 1.5em 5em 1.5em;
    }

thead,tbody,tr,td,th{
    display:block;
  }

/* #myTabContent .btn-info {
    background-color: #FEC61E;
    border: #FEC61E;
} */

thead {
    width: 100%;
    padding: 0 1.5em;
}

.table th {
    float:left;
    width: 25%;
    border-top: none;
  }

.table .personnel-header {
    width: 20%;
}

/* NO RESULTS */
.no-results-row span {
    font-weight: 600;
    margin: 0 .1em;
}

.no-results-row button {
    margin-top: 2em;
    padding: .7em 1em;
}
/* ------------------ */

  .table-fixed tbody tr {
      height: 5rem;
      pointer-events: none;
  }

.arrow {
    width: .5rem;
    margin-right: .4rem;
    display: none;
}

  
.table-fixed tbody td{
    float:left;
    width: 25%;    
    height: 100%;
    line-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* DEPARTMENTS TABLE */

@media only screen and (min-width: 850px) {
    .table-fixed tbody tr {
        height: 4rem;
    }

    .table-fixed tbody td{
        display: flex;
        align-items: center;
    }
    
    .table-fixed tbody tr td:last-child {    
        justify-content: center;
    }
    #departments tr th {
        width: 40%;
    }

    #departments tr th:last-child {
        width: 20%;
    }

    #table-departments td{
        width: 40%;
    }

    #table-departments tr td:last-child {
        width: 20%;
    }

    #table-personnel tr td {
        width: 20%;
    }
}
/* ------------------------ */

/* LOCATIONS TABLE */

@media only screen and (min-width: 850px) {
    #locations tr th {
        width: 80%;
    }

    #locations tr th:last-child {
        width: 20%;
    }

    #table-locations td{
        width: 80%;
    }

    #table-locations tr td:last-child {
        width: 20%;
    }
}
/* ------------------------ */

.table-fixed tbody tr:nth-child(2n){
    background-color: #f3f3f3;
}
.table-fixed tbody tr:first-child td{
    border-top: none;
}

#action-dept {
    width: 50%;
}

.table-fixed tbody tr .buttons-container {
    padding-top: 21px;
    padding-bottom: 21px;

}

#search-input {
    display: inline-block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
    vertical-align: middle;
}

#select-search {
    cursor: pointer;
}

/*--------------------------------------------------------------
# Locations Table
--------------------------------------------------------------*/

.table .loc-table {
    width: 50%;
}

/* DROPDOWN */

#dropdown {
    background-color: #435D7D;
    color: white;
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    height: 6rem;
}

#dropdown td {
    border-top: none;
}

#dropdown p {
    margin-bottom: 0;
}

#dropdown a {
    color: lightblue;
}

/*--------------------------------------------------------------
# Modals
--------------------------------------------------------------*/

.question-span {
    font-weight: bold;
}

#modal-add-dept {
    padding: 0;
    height: 1rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    margin-bottom: .2em;
    margin-left: .2em;
    background: #28a745;
    border: none;
    box-shadow: none;
}
#modal-add-dept i {
    font-size: 1rem;
}

.plus-modal {
    filter: invert(77%) sepia(66%) saturate(4121%) hue-rotate(83deg) brightness(80%) contrast(74%);
    margin-bottom: .25em;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.clearfix {
    width: 100%;
    padding: 0.7em 1.5em;    
    background: #435d7d;
    position: absolute;
    bottom: 0;
}

#entries {
    color: #fff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #435D7D #F3F3F3;
  }
  
  /* SCROLLBAR */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #F3F3F3;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #435D7D;
    border-radius: 20px;
    border: 3px solid #F3F3F3;
  }

@media only screen and (max-width: 1300px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        margin: 0 1%;
    }
}

@media only screen and (max-width: 850px) {

    html {
        background-color: #435d7d;
    }

    body {
        padding: 0;
    }

    .table-title {
        border-radius: 0%;
    }

    .title-page {
        text-align: center !important;
        margin-bottom: .6rem;
    }

    .text-right {
        text-align: left !important;
    }

    #dropdown-header {
        width: 3rem;
        display: inline-block;
        font-size: 1.1rem;
    }

    #dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu a {
        font-size: .7rem;
    }

    .small-search {
        display: inline-block;
    }

    #add-new {
        display: none;
    }

    /* PERSONNEL PANE */
    #job-title-head {
        display: none;
    }
    .job-title-cell {
        display: none;
    }

    /* ADD BUTTON */
    #add {
        right: 1em;  
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin-top: .1em;  
    }

    #add i {
        font-size: 1rem;
    }
    /* ---- */

    #table-departments tr td:nth-child(2n){
        display: none;
    }

    #table-departments tr td:first-child, #table-locations tr td:first-child, #table-personnel tr td:first-child{
        width: 60%;
    }

    #table-departments tr .text-center, #table-locations tr .text-center, #table-personnel tr .text-center{
        width: 40%;
    }

    #departments thead tr th:nth-child(2n){
        display: none;
    }

    #department-header {
        width: 50%;
    }


    #personnel-head tr th {
        width: 50%;
    }

    .action-padding {
        padding-right: 1em !important;
    }

    .btn-search {
        pointer-events: none;
    }

    .container {
        margin: 0;
    }

    /* .cell-name {
        font-size: .8em;
        font-weight: 600;
    } */

    .arrow {
        display: inline;
    }

    #add-dept-btn, #add-employee-btn, #search-employee-btn {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }

    #search-input {
        width: 80%;
    }

    #show-all {
        margin-left: 1em;
    }

    thead tr th:last-child {
        padding: .75rem;
    }


    .table-fixed tbody tr .buttons-container {
        padding-top: 25px;
    }

    #tbody {
        height: 70vh;
        padding-bottom: 10em;
    }

    .table-fixed tbody td {
        width: 50%;
        border-top: none;
    }

    thead tr th {
        width: 50%;
    }

    thead {
        padding: 0;
    }

    #dept-head, #email-head {
        display: none;
    }

    .dept, .email {
        display: none;
    }

    .btn {
        font-size: .7rem;
    }


    /* TABS */
    #myTab {
        padding: 0;
    }

    .nav-tabs .nav-item {
        font-size: .7em;
    }
    /* --- */
    .table-fixed tbody tr {
        height: 5rem;
        pointer-events:initial;
        cursor: pointer;
        border-bottom: 2px solid rgba(153, 153, 153, 0.238);
        border-radius: 0px 0px 10px 10px;
    }

    .table-fixed tbody tr {
        height: 5rem;
        pointer-events:initial;
        cursor: pointer;
        border-bottom: 2px solid rgba(153, 153, 153, 0.238);
        border-radius: 0px 0px 10px 10px;
    }


    #dropdown {
        padding: 0.2em 1em 0 1em;
        opacity: 0;
        transform: translateY(-20px);
        transition: all .3s ease;        
        border-bottom: 2px solid rgba(153, 153, 153, 0.238);
        border-radius: 0px 0px 10px 10px;
        line-height: 1.35rem;
    }

    .table-fixed tbody {
        padding: 0 0 10em 0;
    }

    .clearfix {
        border-radius: 0%;
    }

    .nav-tabs .nav-item {
        font-size: .8em;
    }


}

