/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    width: 100%;
    position: relative;
    background-color: #F5F5F5;
    padding: 5% 0;
    overflow: hidden;
    max-height: 100vh;
}

.container {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    max-width: 1400px;
}

a:hover {
    text-decoration: none;
}


i {
    float: left;
    margin-right: 5px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    }
    #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
    }
    @-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
    @keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    border-radius: 3px 3px 0 0;
}

.small-search {
    display: none;
}


#search-row {
    margin-top: 10px;
}

#dropdown-header, #search-employee-btn {
    width: 200px;
}

#dropdown-btn {
    width: 100%;
}

.dropdown-menu {
    padding: .2rem .2rem;
    background-color: rgb(54, 142, 54);
    color: white;
    border: 2px solid #358260;
}

.dropdown-menu a {
    color: white;
}

#add-employee-list {
    border-bottom: 2px solid white;
}

#refresh {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(102%);
    transform: rotate(0);
    transition: transform .4s ease;
    pointer-events: none;
}

/*--------------------------------------------------------------
# Alerts
--------------------------------------------------------------*/

.alert {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    pointer-events: none;
}

#alert-error, #alert-success, #alert-success-edit, #dept-error, #dept-success {
    opacity: 0;
    transition: opacity .5s ease;
}


.btn, a {
    pointer-events: initial;
}

.btn-icon {
    width: 1rem;
    height: 1rem;    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(102%);
}

.modal-title i {
    float: none;
}



a .btn-danger {
    margin-left: 10px;
}

.hint-text {
    color: #566787;
}

#show-all {
    display: inline-flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#show-all:active #refresh {
    transform: rotate(180);
}


.table-fixed {
    width: 100%;
    background-color: white;
    margin-bottom: 0;
}

.table-fixed tbody{
    height:60vh;
    overflow-y:auto;
    width: 100%;
    }

thead,tbody,tr,td,th{
    display:block;
  }

thead {
    width: 100%;
    padding: 0 1.5em;
}

thead tr th{
    float:left;
    width: 25%;
  }

thead tr th:last-child{
    padding-right: 3.1em;
}

  .table-fixed tbody tr {
      height: 5rem;
      pointer-events: none;
  }

.arrow {
    width: .5rem;
    margin-right: .4rem;
    display: none;
}

.table-fixed tbody {
    padding: 0 1.5em;
}
  
.table-fixed tbody td{
    float:left;
    width: 25%;    
    height: 100%;
    line-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-fixed tbody tr:nth-child(2n){
    background-color: #f3f3f3;
}
.table-fixed tbody tr:first-child td{
    border-top: none;
}

.clearfix {
    width: 100%;
    padding: 0.7em 1.5em;    
    background: #435d7d;
    border-radius: 0 0 3px 3px;
}

#entries {
    color: #fff;
}

.table-fixed tbody tr .buttons-container {
    padding-top: 21px;

}

#search-input {
    display: inline-block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
    vertical-align: middle;
}

#select-search {
    cursor: pointer;
}

/* DROPDOWN */

#dropdown {
    background-color: #435D7D;
    color: white;
    border-radius: 0 0 5px 5px;
    line-height: normal;
    font-size: 0.9em;
}

#dropdown td {
    border-top: none;
}

#dropdown p {
    margin-bottom: 0;
}

#dropdown a {
    color: lightblue;
}

@media only screen and (max-width: 1300px) {
    body {
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        margin: 0 1%;
    }
}

@media only screen and (max-width: 850px) {

    html {
        background-color: #435d7d;
    }

    body {
        padding: 0;
    }

    .table-title {
        border-radius: 0%;
    }

    .title-page {
        text-align: center !important;
        margin-bottom: .6rem;
    }

    .text-right {
        text-align: left !important;
    }

    #dropdown-header {
        width: 3rem;
        display: inline-block;
        font-size: 1.1rem;
    }

    #dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu a {
        font-size: .8rem;
    }

    .small-search {
        display: inline-block;
    }

    #add-new {
        display: none;
    }

    .btn-search {
        pointer-events: none;
    }

    .container {
        margin: 0;
    }

    .cell-name {
        font-size: .8em;
        font-weight: 600;
    }

    .arrow {
        display: inline;
    }

    #add-dept-btn, #add-employee-btn, #search-employee-btn {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }

    #search-input {
        width: 80%;
    }

    #show-all {
        margin-left: 1em;
    }

    thead tr th:last-child {
        padding: .75rem;
    }


    .table-fixed tbody tr .buttons-container {
        padding-top: 25px;
    }

    #tbody {
        height: 70vh;
    }

    .table-fixed tbody td {
        width: 50%;
        border-top: none;
    }

    thead tr th {
        width: 50%;
    }

    thead {
        padding: 0;
    }

    #dept-head, #email-head {
        display: none;
    }

    .dept, .email {
        display: none;
    }

    .btn {
        font-size: .7rem;
    }

    .table-fixed tbody tr {
        height: 5rem;
        pointer-events:initial;
        cursor: pointer;
        border-bottom: 2px solid rgba(153, 153, 153, 0.238);
        border-radius: 0px 0px 10px 10px;
    }


    #dropdown {
        padding: 0.2em 1em 0 1em;
        opacity: 0;
        transform: translateY(-20px);
        transition: all .3s ease;        
        border-bottom: 2px solid rgba(153, 153, 153, 0.238);
        border-radius: 0px 0px 10px 10px;
        line-height: 1.5rem;
    }

    .table-fixed tbody {
        padding: 0;
    }

    .clearfix {
        border-radius: 0%;
    }


}

