* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 10vh;
    background: #7D24F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

#back-home {
    color: #7D24F7;
    padding: 0.7rem 0.9rem;
    background: aliceblue;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid transparent;
}

#back-home:hover {
    color: white;
    background: #7D24F7;
    border: 2px solid white;
    transition: all 0.2s ease;
}

body {
    width: 100%;
    height: 100vh;
    background: #f0efef;
}

.main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 60%;
    height: 90%;
    padding: 0;
    border-collapse: collapse;
}

tr {
    background: #f9f6ff;
}

tr:nth-of-type(even){
    background: #f4edff;
}


button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    background: #7D24F7;
    font-weight: 800;
    box-shadow: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(146, 146, 146);
}

button:active {
    transform: translateY(1px);
    box-shadow: none;
}

select {
    background: #7D24F7;
    color: white;
    border-color: black;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    margin-left: 2rem;
    width: 20%;
}


.cell {
    text-align: center;
    overflow: scroll;
}

.small {
    width: 20%;
    height: 12%;
}

.medium {
    width: 60%;
    height: 10%;
    border-left: 2px solid #7c24f72c;
    border-right: 2px solid #7c24f72c;
}

label {
    display: inline-block;
    width: 60%;
    text-align: left;
}

#cellResults {
    position: relative;
}

.divResults{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    
}

#tableResults {
    width: 100%;
    height: 100%;
    border-right: 2px solid #7c24f767;
    border-left: 2px solid #7c24f767;
    border-top: 2px solid #7c24f767;
    border-bottom: 2px solid #7c24f767;
}

#tableResults td {
    width: 50%;
}
.url {
    padding: 0;
    color: blue;
    background: none;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.small-text {
    font-size: 0.8rem;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 1100px) {

    h1 {
        font-size: 1.4rem;
    }

    #back-home {
        padding: 0.2rem;
        font-size: 0.6rem;
    }
     table {
         width: 99%;
     }
     button {
         padding: 0.3rem 0.5rem;
         border-radius: 5px;
     }
     .small {
         font-size: 0.7rem;
     }

     #description {
         font-size: 0.7rem;
     }

     .medium {
        font-size: 0.6rem;
    }
    .medium label {
        width: 100%;
        text-align: center;
        padding: 0 0.5rem;
    }
    .medium select {
        width: 50%;
        margin: auto;
        margin-top: 0.5rem;
    }
    .divResults {
        width: 95%;
    }
    .url {
        padding: 0;
        color: blue;
        font-size: 0.7rem;
        background: none;
        font-weight: 500;
        cursor: pointer;
        
        border: none;
    }

    .small-text {
        font-size: 0.5rem;
    }
    
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
    
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    table {
        width: 80%;
    }
 } 