* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000e29;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: rgba(162, 192, 255, 0.445);
    position: relative;
}

#loading {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: none;
    top: 0;
    left: 0;
    pointer-events: visible;
    display: none;
}

header {
    height: 8vh;
    width: 100%;
    background: #C54343;
    position: relative;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.096) 0px 14px 28px, rgba(0, 0, 0, 0.171) 0px 10px 10px;
}

#space {
    height: 1vh;
    width: 100%;    
    background-color: #B72C2C;
}

#header-shade {
    position: absolute;
    width: 100%;
    height: 34%;
    background-color: #B72C2C;
    z-index: -1;
}

nav {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    
}

#top-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

li {
    min-width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#user-location-list {
    border-left: none;
}

.fa-sign-out-alt {
    font-size: .8em;
}


#hamburger {
    display: none;
}

#user-location-list {
    border-right: 4px solid #C54342;
    border-left: 4px solid #C54342;
}

#quiz-mode {
    border-right: 4px solid #C54342;
    border-left: 4px solid #C54342;
}

#dark {
    border-left: 4px solid #C54342;
}

.nav-li {
    cursor: pointer;
}

.nav-li:hover {
    color: #C54343;
}

.nav-li:active {
    color: #B72C2C;
}

#map {
    height: 92vh;
    z-index: 1;
    background-color: #dbf5ff;
}

footer {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 2vh;
    position: absolute;
    bottom: 0;
    background-color: #C54342;
    box-shadow: rgba(56, 56, 56, 0.096) 14px 0px 28px, rgba(0, 0, 0, 0.171) 10px 0px 10px;
}

#footer-shade {
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #B72C2C;
}

#country-select-box {
    width: 70%;
    position: relative;
}

#select-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

li select {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    background: white;
    color: black;
    border-radius: 5px;
    width: 100%;
    padding: 0 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#sort-arrow {
    z-index: 8;
    height: 100%;
    width: 2rem;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    /* background: yellow; */
}

#sort-down-icon {
    width: 50%;
    height: 50%;
    margin-bottom: 3px;
}

#iss-icon {
    height: 20px;
    width: 20px;
}

#settings i {
    margin-right: 1em;
}

main {
    position: relative;
    overflow: hidden;
}

#stop-follow {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    font-size: 1.7em;
    display: none;
    background: white;
    cursor: pointer;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

#exit-quiz {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 98;
    font-size: 1.7em;
    display: none;
    background: white;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

#exit-quiz-bar {
    padding: .23em 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease;
    pointer-events: visible;
    width: 25%;
    height: 60%;
    max-width: 50%;
    max-height: 80%;
    cursor: pointer;
}

#exit-quiz-bar:active {
    box-shadow: none;
}

#exit-quiz-bar:hover {
    color: #B72C2C;
}

#score {
    font-size: 1rem;
    background-color: #B72C2C;
    padding: .23em 1em;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease;
    pointer-events: visible;
    width: 25%;
    height: 60%;
    max-width: 50%;
    max-height: 80%;
}

.shake-score {    
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#stop-follow i, #exit-quiz i {
    margin-right: 1em;
}

/* SIDE MENU -----------------------------------------------------------------------------------------------------------*/

#side-menu {
    position: absolute;
    z-index: 4;
    height: 70%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #B72C2C 50%, #C54342);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translateY(-130%);
    opacity: 0;
    transition: all .5s ease;
    padding: 1em;
}

#side-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#side-list li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-list li div {
    width: 300px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#side-list li div:active {
    box-shadow: 1px 1px 1px rgba(50, 50, 93, 0.25);
}

#settings-side i {
    margin-right: 10px;
}

/* QUIZ ------------------------------------------------------------*/

#quiz-container {
    position: absolute;
    width: 100%;
    height: 45%;
    z-index: 99;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
}

#quiz-question-answer-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#quiz-wrapper {
    width: 400px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.219);
    z-index: 99;
    text-align: center;
    display: flex;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 1px 1px 5px grey;
    pointer-events: initial;
    margin-bottom: 20px;
}

.quiz-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-question {
    z-index: 99;
    width: 90%;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    padding: 1em .3em;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    background: #B72C2C;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#next-question {
    z-index: 99;
    width: 100px;
    height: 100px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 100%;
    /* border: 1px solid #94A9B0; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #242424;
    background: white;
    margin-top: 5px;
    cursor: pointer;
}

#next-question:active {
    box-shadow: 0.5px 0.5px 1px rgba(50, 50, 93, 0.25);
}

#result {
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid white;
    color: #242424;
    background: white;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease;
}

/* NEW POPUP */

.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-235%, -50%);
    z-index: 90;
    background: white;
    width: 360px;
    height: 460px;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #B72C2C 8px solid;
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: visible;
}


#wiki-link a {    
    color: #368BCD;
}

#wiki-link span {    
    color: #368BCD;
    font-weight: bold;
}

.popup {
    width: 100%;
    height: 100%;
    padding: 2em 0 1em 0;
    letter-spacing: 0.05rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#popup {
    display: none;
}

.popup-header {
    position: absolute;
    top: .3em;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


.left {
    left: .3em;
    background: #B72C2C;
    border-radius: 50%;
}

.right {
    right: .3em;
}

.icon-popup {
    width: 60%;
    height: 60%;
}

.left .icon-popup {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(356deg) brightness(102%) contrast(104%);
}

.right .icon-popup {
    filter: invert(40%) sepia(0%) saturate(2630%) hue-rotate(316deg) brightness(95%) contrast(87%);
    cursor: pointer;
}

#country-name-container {
    width: 378px;
    height: 10%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.triangle {
    
    position: absolute;
    top: -9.5px;
    
}

#triangle-left {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    left: 0;
}

#triangle-right {
    border-bottom: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    right: 0;
}

#country-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1.3rem;
    color: white;
}

#country-code {
    color: white;
    margin-left: 1rem;
}

#img-container {
    width: 100%;
    background-color: white;
    text-align: center;
    height: 55px;
    margin-bottom: 1rem;
}

#flag {
    width: 100px;
    height: 50px;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
    display: block;
}

#img-container-place {
    width: 100%;
    text-align: center;
    height: 200px;
    overflow: hidden;
}

.data {
    width: 100%;
    height: 100%;
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: opacity .05s ease;
}


#info, #covid, #exr, #weather {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;    
    padding: 1em 1.5em 0 1.5em;
}

#covid, #exr, #weather {
    display: none;
}

/* POPUP COVID */

.red-block {
    z-index: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 70%;
}

#date-stats {
    font-size: .7rem;
    line-height: normal;
    text-align: right;
    margin-top: 1.5em;
}

.percentage-wrapper {
    position: relative;
}

.percentage-div {    
    position: relative;
    background: white;
    z-index: 97;
    border-left: 4px solid #B72C2C;
    border-radius: 1px;
    line-height: 1.2em;
    padding: .5em .5em;
}

.percentage-div .percentage{
    font-size: .7rem;
}

.total-deaths {
    margin-top: .7em;
}
#capital-p, #place-p {
    width: 100%;
    text-align: center;
}

#place-p {
    border: 3px solid #C54342;
    background-color: #B72C2C;    
    border-radius: 10px;    
    padding: .5em 1em;
}

#capital-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1.5rem;
    text-align: center;
    
}

#place-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.wikipedia-place {
    letter-spacing: normal;
}

#name-wiki {
    font-size: .8em;
}


p span {
    font-weight: 600;
    margin-left: 0.2rem;
}

#place-image {
    width: auto;
    height: 100%;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
}

#quiz-choice {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2px;
}

#incorrect-answer {
    font-size: .7em;
}

#quiz-image {
    width: 30px;
    height: 18px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

.exit {
    font-size: 1rem;
}

#little-flag {
    width: 20px;
    height: 12px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}


#search-wiki:hover {
    text-decoration: underline;
}

#search-popup {
    margin-left: .2rem;
    filter: invert(49%) sepia(58%) saturate(540%) hue-rotate(164deg) brightness(89%) contrast(99%);
}

#times {
    filter: invert(12%) sepia(68%) saturate(5090%) hue-rotate(356deg) brightness(102%) contrast(122%);
}

#check {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(227deg) brightness(101%) contrast(101%);
}

#search-popup-box {
    position: relative;
    height: 12px;
    width: 12px;
    display: inline-block;
}

#search-popup-box img {
    position: absolute;
    transition: all .5s ease;
    text-shadow: 1px 1px 1px rgb(172, 172, 172);
}

#search-wiki:hover #search-popup-box img {
    transform: translate(-9px, 1px);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgb(161, 161, 161);
}

#weather {
    text-transform: capitalize;    
    line-height: 2.3rem;
}

summary {
    cursor: pointer;
}

#speed {
    font-style: italic;
    font-weight: 600;
}

.weather-box {
    height: 2rem;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#capital-weather {
    text-align: left;
    font-weight:normal;
    font-size: 0.8em;
    text-transform: initial;
}

#weather-icon-box {
    height: 16px;
    width: 10px;
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
}

#weather-icon {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    height: 55px;
    width: 55px;
}

/* POPUP PICTURE */

.address-place, .wikipedia-place {
    line-height: 1;
    margin: 10px 0;
}

/* FORECAST */

.forecast-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    line-height: normal;
}

.forecast-box {
    width: 45%;
    height: 100%;
    border-radius: 5px;
    background-color: white;        
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
}

.forecast-box h6 {
    width: 100%;
    padding: 0.3rem .5rem;
    background-image: linear-gradient(to right, #B72C2C 60%, rgb(255, 185, 185));
    color: white;
}

.icon-temp-box {
    width: 100%;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.forecast-icon-box, .forecast-temp {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
}

.forecast-icon-box {
    width: 60%;    
    align-items: center;
    justify-content: center;
}

.forecast-temp {
    padding-top: 4px;
    width: 40%;    
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
}

.forecast-icon {
    height: 55px;
    width: 55px;
    display: inline-block;
    position: relative;
    margin: auto;
}

.temp-min {
    font-size: .75em;
}

.temp-max {
    font-weight: 600;
}


/* CALCULATOR */

#calculator {
    margin-top: 15px;
    border-radius: 5px;
    line-height: normal;
    letter-spacing: 0.02rem;
    font-size: 16px;
    height: 160px;
    position: relative;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
}

#calculator-title {
    width: 100%;
    height: 25%;
    padding: 1em .7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#first-calculation {
    height: 50%;
    width: 100%;    
    padding: 1em .7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#base-text {
    margin-bottom: .8em;
    font-size: .9rem;
    opacity: 0.8;
    font-weight: 600;
}

#exchange-rate, #currency, #decimals {
    font-size: 1rem;
    font-weight: 600;
}

.decimals {
    opacity: 0.5;
}

#last-calculation {
    position: absolute;   
    padding: .7em .7em;
    bottom: 0;
    width: 100%;
    height: 25%;
    font-size: .9rem;
}


#calculator span {
    margin: 0;
}

#calculator select {
    font-size: 16px;
    background: white;
    text-indent: 0;
    width: 60px;
    border-radius: 5px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid lightgray;
    position: relative;
}

.fake-select {
    z-index: 40;
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: white;    
    border-radius: 5px;
    font-size: 16px;
    max-width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3px 0 0;
    pointer-events: none;
}

#currency-slash {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#currency-name {
    font-size: .7em;
}

.currency-select-container {
    position: relative;
    height: 100%;
}

.sort-arrow-currency-box {
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    left: 7px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-3px);
    pointer-events: none;
}

.sort-down-currency {
    width: 100%;
    height: auto;
}

#service-not-available {
    position: absolute;
    z-index: 90;
    width: 300px;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}




#iss-logo {
    height: 60px;
    width: 60px;
}

#iss-div {
    text-align: center;
}

.small-screen {
    display: none;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #C54342;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #B72C2C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}


@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 1300px) {   

    #top-nav li{
        font-size: .9rem;
    }

    #country {
        padding: 0;
        font-size: .8rem;
    }

    #country-select-box {
        width: 90%;
    }

    .popup-container {
        transform: translate(-145%, -50%);
    }
}
@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 1000px) {

    .popup-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 270px;
        height: 345px; */
        border-radius: 12px;
        line-height: 2.5rem;
    }

    #country-name-container {
        width: 288px;
        height: 10%;
    }

    .popup {
        width: 100%;
        height: 100%;
        padding: 1em 0 .5em 0;
        letter-spacing: normal;
        font-weight: normal;
        position: relative;
    }
    
    .small-screen {
        display: block;
    }

    #show-popup {
        transition: transform .3s ease;
    }

    header {
        width: 100%;
    }
    nav {
        width: 100%;
        border-radius: 0;
    }
    #space {
        height: .5vh;
    }
    #top-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 1em;
        border-left: none;
        border-right: none;
    }

    #top-nav li:nth-of-type(2n) {
        border-right: none;
        border-left: none;
    }

    #select-list {
        flex:2;
    }

    footer {
        background: transparent;
        box-shadow: none;
    }
    
    #country-select-box {
        width: 100%;
    }
    #country-search select {
        font-size: .8em;
    }
    .list {
        display: none;
    }

    #hamburger {
        flex: 1;
        display: inline-block;
        text-align: end;
        cursor: pointer;
    }

    #hamburger-icon {
        height: 2rem;
        width: 2rem;
    }

    #quiz-container {
        height: 43%;
    }

    
    #quiz-wrapper {
        margin-bottom: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        background: transparent;
        box-shadow: none;
    }

    #next-question {
        margin-bottom: 80px;
        pointer-events: visible;
    }

    #result {
        margin-bottom: 10px;
    }

    #score, #exit-quiz-bar {
        font-size: 1rem;
        padding: 1em 1em;
        
        width: 47.5%;
        height: 80%;
        max-width: 50%;
        max-height: 80%;
    }

    #exit-quiz-bar {
        font-size: 1rem;
    }

    #sign-out-quiz {
        margin-right: .3rem;
        height: 13px;
        width: 13px;
    }

    #stop-follow, #exit-quiz {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {

    .popup-wrapper-small-screen {
        z-index: 40;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
        pointer-events: none;
    }

    .leaflet-popup-content-wrapper {
        max-width: 280px;
    }

    #img-container-place {
        height: 100px;
    }

    #place-name-popup {
        font-size: 1rem;
    }

    .address-place {
        font-size: .8em;
    }

    .popup-container {
        position: absolute;
        bottom: 0;
        left:initial;
        top: initial;
        margin: auto;
        transform: translateY(73%);
        /* width: 270px;
        height: 345px; */
        line-height: 2.2rem;
        font-size: .8em;
        transition: transform .5s ease;
    }

    #img-container {
        height: 37.5px;
    }

    #flag {
        height: 37.5px;
        width: 75px;
    }

    #country-name-container {
        height: 7%;
        border-radius: 5px;
        font-size: 1.5em;
    }

    #country-code {
        font-size: .7em;
    }

    .triangle {
        display: none;
    }

    #country-name-popup {
        font-size: .8em;
    }

    #calculator {
        margin-top: 5px;
        height: 140px;
    }

    #weather {
        line-height: 1.7rem;
    }

    #side-menu {
        height: 50%;

    }

}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.leaflet-marker-icon {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(160, 81, 45, 0.836));
    filter: drop-shadow( 3px 3px 2px rgba(47, 79, 79, 0.555));
}


#easy-button-icon, .btn-icon {
    width: 25px;
    height: 22px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-icon {
    transition: all .3s ease;
}

.btn-icon {
    filter: invert(20%) sepia(47%) saturate(4316%) hue-rotate(345deg) brightness(89%) contrast(89%);
}


select {
    cursor: pointer;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin-right: .6rem;
}


#times {
    color: red;
}

.sign-out {
    width: 20px;
    height: 20px;
    margin-right: .7rem;
}


.marker-cluster-small {
	background-color: #c54242d3;
	}
.marker-cluster-small div {
	background-color: rgba(255, 255, 255, 0.959);
	}

.marker-cluster-medium {
	background-color: #b72c2cd0;
	}
.marker-cluster-medium div {
	background-color: rgba(255, 255, 255, 0.952);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font: 16px "Helvetica", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;	
	font-weight: 600;
	}