* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000e29;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgba(162, 192, 255, 0.445);
    position: relative;
}

#loading {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: none;
    top: 0;
    left: 0;
    pointer-events: visible;
    display: none;
}

header {
    height: 8vh;
    width: 100%;
    background: #C54343;
    position: relative;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.096) 0px 14px 28px, rgba(0, 0, 0, 0.171) 0px 10px 10px;
}

#space {
    height: 1vh;
    width: 100%;    
    background-color: #B72C2C;
}

#header-shade {
    position: absolute;
    width: 100%;
    height: 34%;
    background-color: #B72C2C;
    z-index: -1;
}

nav {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    
}

#top-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

li {
    min-width: 16.6%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#user-location-list {
    border-left: none;
}

.fa-sign-out-alt {
    font-size: .8em;
}


#hamburger {
    display: none;
}

#user-location-list {
    border-right: 4px solid #C54342;
    border-left: 4px solid #C54342;
}

#iss-list {
    border-right: 4px solid #C54342;
    border-left: 4px solid #C54342;
}

#dark {    
    border-left: 4px solid #C54342;
}

#dark {
    border-right: none;
}


.nav-li {
    cursor: pointer;
}

.nav-li:hover {
    color: #C54343;
}

.nav-li:active {
    color: #B72C2C;
}

#map {
    height: 92vh;
    z-index: 1;
    background-color: #dbf5ff;
}

footer {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 2vh;
    position: absolute;
    bottom: 0;
    background-color: #C54342;
    box-shadow: rgba(56, 56, 56, 0.096) 14px 0px 28px, rgba(0, 0, 0, 0.171) 10px 0px 10px;
}

#footer-shade {
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #B72C2C;
}

#country-select-box {
    width: 70%;
    position: relative;
}

#select-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

li select {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    background: white;
    color: black;
    border-radius: 5px;
    width: 100%;
    padding: 0 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#sort-arrow {
    z-index: 8;
    height: 100%;
    width: 2rem;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    /* background: yellow; */
}

#sort-down-icon {
    width: 50%;
    height: 50%;
    margin-bottom: 3px;
}

#iss-icon {
    height: 20px;
    width: 20px;
}

#settings i {
    margin-right: 1em;
}

main {
    position: relative;
}

#stop-follow {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    font-size: 1.7em;
    display: none;
    background: white;
    cursor: pointer;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

#exit-quiz {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 98;
    font-size: 1.7em;
    display: none;
    background: white;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

#exit-quiz-bar {
    padding: .23em 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease;
    pointer-events: visible;
    width: 25%;
    height: 60%;
    max-width: 50%;
    max-height: 80%;
    cursor: pointer;
}

#exit-quiz-bar:active {
    box-shadow: none;
}

#exit-quiz-bar:hover {
    color: #B72C2C;
}

#score {
    font-size: 1rem;
    background-color: #B72C2C;
    padding: .23em 1em;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease;
    pointer-events: visible;
    width: 25%;
    height: 60%;
    max-width: 50%;
    max-height: 80%;
}

.shake-score {    
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#stop-follow i, #exit-quiz i {
    margin-right: 1em;
}

/* SIDE MENU -----------------------------------------------------------------------------------------------------------*/

#side-menu {
    position: absolute;
    z-index: 4;
    height: 70%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #B72C2C 50%, #C54342);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translateY(-130%);
    opacity: 0;
    transition: all .5s ease;
    padding: 1em;
}

#side-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#side-list li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-list li div {
    width: 300px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#side-list li div:active {
    box-shadow: 1px 1px 1px rgba(50, 50, 93, 0.25);
}

#settings-side i {
    margin-right: 10px;
}

/* QUIZ ------------------------------------------------------------*/

#quiz-container {
    position: absolute;
    width: 100%;
    height: 45%;
    z-index: 99;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
}

#quiz-question-answer-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#quiz-wrapper {
    width: 400px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.219);
    z-index: 99;
    text-align: center;
    display: flex;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 1px 1px 5px grey;
    pointer-events: initial;
    margin-bottom: 20px;
}

.quiz-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-question {
    z-index: 99;
    width: 90%;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    padding: 1em .3em;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    background: #B72C2C;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#next-question {
    z-index: 99;
    width: 100px;
    height: 100px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 100%;
    /* border: 1px solid #94A9B0; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #242424;
    background: white;
    margin-top: 5px;
    cursor: pointer;
}

#next-question:active {
    box-shadow: 0.5px 0.5px 1px rgba(50, 50, 93, 0.25);
}

#result {
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid #242424;
    color: #242424;
    background: white;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease;
}

/* POPUP STYLES ---------------------------------------------------------------------*/

.popup {
    letter-spacing: 0.05rem;
    font-weight: 600;
}

#country-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1rem;
}

#capital-p, #place-p {
    width: 100%;
    text-align: center;
}

#place-p {
    border: 3px solid #C54342;
    background-color: #B72C2C;    
    border-radius: 10px;    
    padding: .5em 1em;
}

#capital-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1.5rem;
    text-align: center;
    
}

#place-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.address-place, .wikipedia-place {
    letter-spacing: normal;
}


span {
    font-weight: 400;
    margin-right: 0.2rem;
}

#img-container {
    width: 100%;
    text-align: center;
    height: 40px;
}

#flag {
    width: 70px;
    height: 100%;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
}

#img-container-place {
    width: 100%;
    text-align: center;
    height: 200px;
    overflow: hidden;
}

#place-image {
    width: auto;
    height: 100%;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
}

#quiz-choice {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2px;
}

#incorrect-answer {
    font-size: .7em;
}

#quiz-image {
    width: 30px;
    height: 18px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

#little-flag {
    width: 20px;
    height: 12px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

#exchange-rate {
    width: 50px;
    height: 16px;
    background-color: rgba(204, 204, 204, 0.219);
    border: 1px solid grey;
    border-radius: 10%;
    text-align: center;
    padding: 2px 6px;
    margin-left: 4px;
}

#search-wiki:hover {
    text-decoration: underline;
}

#search-popup {
    color: #368BCD;
    margin-left: .2rem;
}

.fa-check {
    margin-right: 5px;
}

.fa-times {
    margin-right: 5px;
    color: #cc0000;
    text-shadow: .5px .5px 1px grey;
}

#search-popup-box {
    position: relative;
    height: 12px;
    width: 12px;
    display: inline-block;
}

#search-popup-box img {
    position: absolute;
    transition: all .5s ease;
    text-shadow: 1px 1px 1px rgb(172, 172, 172);
}

#search-wiki:hover #search-popup-box img {
    transform: translate(-9px, 1px);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgb(161, 161, 161);
}

#weather {
    text-transform: capitalize;
}

summary {
    cursor: pointer;
}

#speed {
    font-style: italic;
    font-weight: 600;
}

#box {
    margin-top: 25px;
    height: 16px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#weather-icon-box {
    height: 16px;
    width: 10px;
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
}

#weather-icon {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

#currency-symbol {
    background: rgba(255, 217, 0, 0.521);
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
    border: 1px solid gold;
    text-align: center;
    margin-left: 0.3rem;
    color: rgb(80, 68, 1);
    font-size: 0.9em;
}

#iss-logo {
    height: 60px;
    width: 60px;
}

#iss-div {
    text-align: center;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}


@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1100px) {
    header {
        width: 100%;
    }
    nav {
        width: 100%;
        border-radius: 0;
    }
    #space {
        height: .5vh;
    }
    #top-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 1em;
        border-left: none;
        border-right: none;
    }
    #top-nav li:nth-of-type(2n) {
        border-right: none;
        border-left: none;
    }

    #select-list {
        flex:2;
    }

    footer {
        background: transparent;
        box-shadow: none;
    }
    
    #country-select-box {
        width: 100%;
    }
    #country-search select {
        font-size: .8em;
    }
    .list {
        display: none;
    }

    #hamburger {
        flex: 1;
        display: inline-block;
        text-align: end;
        cursor: pointer;
    }

    #hamburger-icon {
        height: 2rem;
        width: 2rem;
    }

    #quiz-container {
        height: 43%;
    }

    
    #quiz-wrapper {
        margin-bottom: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        background: transparent;
        box-shadow: none;
    }

    #next-question {
        margin-bottom: 80px;
        pointer-events: visible;
    }

    #result {
        margin-bottom: 10px;
    }

    #score, #exit-quiz-bar {
        font-size: 1rem;
        padding: 1em 1em;
        
        width: 47.5%;
        height: 80%;
        max-width: 50%;
        max-height: 80%;
    }

    #exit-quiz-bar {
        font-size: 1rem;
    }

    #sign-out-quiz {
        margin-right: .3rem;
        height: 13px;
        width: 13px;
    }

    #stop-follow, #exit-quiz {
        width: 100%;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.leaflet-marker-icon {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(160, 81, 45, 0.836));
    filter: drop-shadow( 3px 3px 2px rgba(47, 79, 79, 0.555));
}


#easy-button-icon, #cluster-icon {
    width: 25px;
    height: 22px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cluster-icon {
    opacity: 0.4;
    filter:saturate(0.5);
    transition: all .3s ease;
}

#cluster-icon:hover {
    opacity: 0.7;
}

select {
    cursor: pointer;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin-right: .6rem;
}


#times {
    color: red;
}

.sign-out {
    width: 20px;
    height: 20px;
    margin-right: .7rem;
}


.marker-cluster-small {
	background-color: #c54242d3;
	}
.marker-cluster-small div {
	background-color: rgba(255, 255, 255, 0.959);
	}

.marker-cluster-medium {
	background-color: #b72c2cd0;
	}
.marker-cluster-medium div {
	background-color: rgba(255, 255, 255, 0.952);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font: 16px "Helvetica", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;	
	font-weight: 600;
	}