@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgba(162, 192, 255, 0.445);
    position: relative;
}

#loading {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: none;
    top: 0;
    left: 0;
    pointer-events: visible;
    display: none;
}

header {
    height: 6vh;
    width: 100%;
    background: white;
    position: relative;
    border-bottom: 2px solid #94A9B0;
    z-index: 5;
}

nav {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

li {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.quiz-mode {
    position: absolute;
    background: white;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fa-sign-out-alt {
    font-size: .8em;
}

#dark {
    border-right: none;
}

#hamburger {
    display: none;
}

#top-nav li:nth-of-type(2n) {
    border-right: 2px solid #94A9B0;
    border-left: 2px solid #94A9B0;
}

li:last-of-type {
    border-right: none;
}

.nav-li {
    cursor: pointer;
}

.nav-li:active {
    color: #368BCD;
}

#map {
    height: 94vh;
    z-index: 1;
    background-color: #dbf5ff;
}

#country-search {
    display: grid;
    position: relative;
    padding: 0 0;
    /* background-color: yellow; */
}

#country-search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#country-search select {
    font-size: 1em;
    line-height: 2rem;
    font-weight: 600;
    background: none;
    border-top: 1px solid #94A9B0;
    border-left: 1px solid #94A9B0;
    border-bottom: 1px solid #94A9B0;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    padding: 0 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#search {
    border-top: 1px solid #94A9B0;
    border-right: 1px solid #94A9B0;
    border-bottom: 1px solid #94A9B0;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #94A9B0;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sort-arrow {
    width: 10%;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
}

#sort-arrow i {
    left: 50%;
    top: 50%;
    transform: translate(1400%, 50%);
}

#search:active i {
    color: #368BCD;
}

#country-search select:hover {
    cursor: pointer;
}

#iss-icon {
    height: 20px;
    width: 20px;
}

#settings i {
    margin-right: 1em;
}

main {
    position: relative;
}

#stop-follow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    font-size: 2em;
    display: none;
    background: white;
    cursor: pointer;
    font-weight: 600;
}

/* SIDE MENU -----------------------------------------------------------------------------------------------------------*/

#side-menu {
    position: absolute;
    z-index: 4;
    height: 50%;
    width: 100%;
    top: 0;
    right: 0;
    background: url(../images/background.PNG);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom: 2px solid #94A9B0;
    transform: translateY(-130%);
    opacity: 0;
    transition: all .5s ease;
}

#side-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#side-list li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-list li div {
    width: 300px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#side-list li div:active {
    box-shadow: 1px 1px 1px rgba(50, 50, 93, 0.25);
}

#settings-side i {
    margin-right: 10px;
}

/* QUIZ ------------------------------------------------------------*/

#quiz-container {
    position: absolute;
    width: 100%;
    height: 45%;
    z-index: 99;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
}

#quiz-question-answer-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#quiz-wrapper {
    width: 400px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.219);
    z-index: 99;
    text-align: center;
    display: flex;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 1px 1px 5px grey;
    pointer-events: initial;
    margin-bottom: 20px;
}

.quiz-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-question {
    z-index: 99;
    width: 90%;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    padding: 1em .3em;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    background: #242424;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#next-question {
    z-index: 99;
    width: 100px;
    height: 100px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 100%;
    /* border: 1px solid #94A9B0; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #242424;
    background: white;
    margin-top: 5px;
    cursor: pointer;
}

#exit-quiz {
    display: none;
    cursor: pointer;
}

#next-question:active {
    box-shadow: 0.5px 0.5px 1px rgba(50, 50, 93, 0.25);
}

#result {
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid #242424;
    color: #242424;
    background: white;
    transition: all 1s ease;
    transform: translateY(0);
    opacity: 0;
}

/* POPUP STYLES ---------------------------------------------------------------------*/

.popup {
    letter-spacing: 0.05rem;
    font-weight: 600;
}

#country-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1rem;
}

span {
    font-weight: 400;
    margin-right: 0.2rem;
}

#img-container {
    width: 100%;
    text-align: center;
    height: 40px;
}

#flag {
    width: 70px;
    height: 100%;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
}

#quiz-choice {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2px;
}

#incorrect-answer {
    font-size: .7em;
}

#quiz-image {
    width: 30px;
    height: 18px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

#little-flag {
    width: 20px;
    height: 12px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

#exchange-rate {
    width: 50px;
    height: 16px;
    background-color: rgba(204, 204, 204, 0.219);
    border: 1px solid grey;
    border-radius: 10%;
    text-align: center;
    padding: 2px 6px;
    margin-left: 4px;
}

#search-wiki:hover {
    text-decoration: underline;
}

#search-popup {
    color: #368BCD;
    margin-left: .2rem;
}

.fa-check {
    margin-right: 5px;
}

.fa-times {
    margin-right: 5px;
    color: #cc0000;
    text-shadow: .5px .5px 1px grey;
}

#search-popup-box {
    position: relative;
    height: 12px;
    width: 12px;
    display: inline-block;
}

#search-popup-box i {
    position: absolute;
    transition: all .5s ease;
    text-shadow: 1px 1px 1px rgb(172, 172, 172);
}

#search-wiki:hover #search-popup-box i {
    transform: translate(-9px, 1px);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgb(161, 161, 161);
}

#weather {
    text-transform: capitalize;
}

summary {
    cursor: pointer;
}

#speed {
    font-style: italic;
    font-weight: 600;
}

#box {
    margin-top: 25px;
    height: 16px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#weather-icon-box {
    height: 16px;
    width: 10px;
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
}

#weather-icon {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

#currency-symbol {
    background: rgba(255, 217, 0, 0.521);
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
    border: 1px solid gold;
    text-align: center;
    margin-left: 0.3rem;
    color: rgb(80, 68, 1);
    font-size: 0.9em;
}

#iss-logo {
    height: 60px;
    width: 60px;
}

#iss-div {
    text-align: center;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    header {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    #top-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 10px 0 0;
    }
    #top-nav li:nth-of-type(2n) {
        border-right: none;
        border-left: none;
    }
    #country-search-box {
        position: relative;
        width: 15rem;
        height: 36px;
        margin-right: 50px;
    }
    #country-search select {
        font-size: .8em;
    }
    .list {
        display: none;
    }
    #quiz-mode {
        display: flex;
    }
    #hamburger {
        display: inline-block;
        text-align: end;
        font-size: 1.5em;
        cursor: pointer;
    }
    #hamburger:active i {
        color: #368BCD;
    }
    #quiz-wrapper {
        margin-bottom: 0;
        height: 100%;
        padding-bottom: 40px;
        width: 100%;
        pointer-events: none;
    }

    #next-question {
        margin-bottom: 80px;
        pointer-events: visible;
    }

    #result {
        margin-bottom: 10px;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.leaflet-marker-icon {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(160, 81, 45, 0.836));
    filter: drop-shadow( 3px 3px 2px rgba(47, 79, 79, 0.555));
}

.fa-map-marker-alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    cursor: pointer;
}
