@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgba(162, 192, 255, 0.445);
}

header {
    height: 6vh;
    width: 100%;
    background: white;
    position: relative;
    border-bottom: 2px solid #94A9B0;
}

nav {
    
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

li {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#hamburger {
    display: none;
}

li:nth-of-type(2n){
    border-right: 2px solid #94A9B0;
    border-left: 2px solid #94A9B0;
}

li:last-of-type {
    border-right: none;
}

.nav-li {
    cursor: pointer;
}

.nav-li:active {
    color: #368BCD;
}

#map { 
    height: 94vh;
    z-index: 1;
    background-color: #dbf5ff;
 }

#country-search {
    display: grid;
    position: relative;
    padding: 0 0;
    /* background-color: yellow; */
}

#country-search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: red; */
    width: 15rem;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#country-search select {
    font-size: 1em;
    line-height: 2rem;
    font-weight: 600;
    background: none;
    border-top: 1px solid #94A9B0;
    border-left: 1px solid #94A9B0;
    border-bottom: 1px solid #94A9B0;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    padding: 0 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

#search {
    border-top: 1px solid #94A9B0;
    border-right: 1px solid #94A9B0;
    border-bottom: 1px solid #94A9B0;
    border-radius: 0 5px 5px 0;
    border-left:1px solid #94A9B0;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sort-arrow {
    width: 10%;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
}

#sort-arrow i {
    left: 50%;
    top: 50%;
    transform: translate(1400%, 50%);
}
#search:active i {
    color: #368BCD;
}

#country-search select:hover{
    cursor: pointer;
}

#iss-icon {
    height: 20px;
    width: 20px;
}

#settings i {
    margin-right: 1em;
}

main {
    position: relative;
}

#stop-follow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 550%);
    z-index: 99;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    background: #242424;
    cursor: pointer;
    display: none;

}

/* POPUP STYLES ---------------------------------------------------------------------*/

.popup {
    letter-spacing: 0.05rem;
    font-weight: 600;
}

#country-name-popup {
    font-weight: 600;
    margin-right: 0;
    font-size: 1rem;
}

span {
    font-weight: 400;
    margin-right: 0.2rem;
}

#img-container {
    width: 100%;
    text-align: center;
    height: 40px;

}

#flag {
    width: 70px;
    height: 100%;
    box-shadow: 1.3px 1.3px 4px rgb(156, 156, 156);
    margin: 0 auto;
}

#little-flag {
    width: 20px;
    height: 12px;
    border-radius: 1px;
    box-shadow: .4px .4px 1px rgb(158, 158, 158);
    margin-left: 0.7rem;
}

#search-wiki:hover {
    text-decoration: underline;
}

#search-popup {
    color: #368BCD;
    margin-left: .2rem;
}

#search-popup-box{
    position: relative;
    height: 12px;
    width: 12px;
    display: inline-block;
}

#search-popup-box i{
    position: absolute;
    transition: all .5s ease;
    text-shadow: 1px 1px 1px rgb(172, 172, 172);
}

#search-wiki:hover #search-popup-box i {
    transform: translate(-9px, 1px);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgb(161, 161, 161);
}

#weather {
    text-transform: capitalize;
}

#box {
    height: 16px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#weather-icon-box {
    height: 16px;
    width: 10px;
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
}

#weather-icon {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

#currency-symbol {
    background: rgba(255, 217, 0, 0.521);
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
    border: 1px solid gold;
    text-align: center;
    margin-left: 0.3rem;
    color: rgb(80, 68, 1);
    font-size: 0.9em;
}

#iss-logo {
    height: 60px;
    width: 60px;
}

#iss-div {
    text-align: center;
}



#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
overflow: hidden;
background: #fff;
}
#preloader:before {
content: "";
position: fixed;
top: calc(50% - 30px);
left: calc(50% - 30px);
border: 6px solid #f2f2f2;
border-top: 6px solid #56829e ;
border-radius: 50%;
width: 60px;
height: 60px;

-webkit-animation: animate-preloader 1s linear infinite;
animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes animate-preloader {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@media only screen and (max-width: 600px) {
    header {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 10px;
    }

    #country-search-box {
        position: relative;
        width: 15rem;
        height: 36px;
    }

    #country-search select {
        font-size: .8em;
    }

    .list {
        display: none;
    }

    #hamburger {
        display:inline-block;
        text-align: end;
        font-size: 1.5em;
        cursor: pointer;
    }

    #hamburger:active i {
        color: #368BCD;
    }
  }